/*
* 锟斤拷锟角碉拷锟皆讹拷锟斤拷锟斤拷式
* @Author: iceStone
* @Date:   2015-12-12 10:56:34
* @Last Modified by:   iceStone
* @Last Modified time: 2015-12-15 17:23:08
*/

/**
 * 1. 锟斤拷式锟斤拷通锟斤拷ID去锟睫讹拷
 * 2. 锟斤拷锟斤拷锟杰讹拷使锟斤拷直锟斤拷锟接达拷选锟斤拷锟斤拷
 */

/**
 * 锟斤拷锟斤拷锟斤拷式锟斤拷锟斤拷锟斤拷色 #e92322
 * 希锟斤拷锟皆猴拷锟紺SS锟斤拷锟叫憋拷锟斤拷锟侥革拷锟斤拷
 * 希锟斤拷锟斤拷嵌锟斤拷锟斤法
 * 希锟斤拷锟叫伙拷锟斤拷锓拷锟組ixin锟斤拷
 */

/*
var mainColor='#e92322';
body {
  background-color: mainColor;
}

.container {
  width: 100px;
  .row {
    margin-left: -15px;
    [class^="col-"],
    [class*=" col-"] {}
  }
}

.div {
  radius(10);
}

.div1 {
  radius(15);
}

function radius(r) {
  -webkit-border-radius: r;
  -moz-border-radius: r;
  -o-border-radius: r;
  -ms-border-radius: r;
  border-radius: r;
}

#tese > .container > .row > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tese > .container > .row > div > p {}

#tese > .container > .row > div > p > span {}

#tese > .container > .row > div > a {
  color: #888;
}

#tese > .container > .row > div > a:hover {
  color: #666;
  text-decoration: none;
}*/

/* 锟斤拷锟斤拷锟斤拷式 */
body {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue,
		PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC,
		WenQuanYi Micro Hei, sans-serif;
	font-size: 18px;
	color: #1a1a1a;
	background: #f6f6f6;
	-webkit-tap-highlight-color: rgba(26, 26, 26, 0);
}

p {
	padding-top: 10px;
}
button{
	    border: 0;
    outline:none;
    line-height: unset;
    font-size: unset;
    display: inline-block;
    padding: 0 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: none;
    border-radius: 3px;
}
.comment_button {
	outline:none;
    color:  #ccc;;
    background-color: #fff;
  border-color: rgba(0, 0, 0, .0001);
}

/* 头锟斤拷锟斤拷锟斤拷 */
#header {
	
}

#header>.topbar {
	height: 40px;
	border-bottom: 1px solid #c0c0c0;
	line-height: 40px;
}

#header>.topbar>.container>.row>div {
	height: 40px;
	font-size: 12px;
	color: #888;
}

#header>.topbar>.container>.row>div+div {
	border-left: 1px solid #c0c0c0;
}

#header a {
	color: #888;
}

#header a:hover {
	text-decoration: none;
}

#header .btn-itcast {
	color: #fff;
}

#header .mobile-link>img {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 30px;
	z-index: 1001;
}

#header .mobile-link:hover>img {
	display: block;
}

#header .icon-logo {
	font-size: 32px;
	color: #333;
	line-height: 50px;
	vertical-align: middle;
}

#header .input-group {
	padding-top: 20px;
	width: 300px;
	left: 200px;
}

.icon-logo:before {
	content: url(../images/logo.PNG);
}

/*#header > .topbar > .container > .row > div {
  background-color: #f40;
  height: 40px
}

#header > .topbar > .container > .row > div:nth-of-type(2n) {
  background-color: #f00;
}*/

/* 通锟斤拷锟斤拷锟斤拷植锟� */
#main_ad {
	padding-bottom: 20px;
}

#main_ad>.carousel-inner>.item {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/* 锟斤拷锟斤拷幕锟斤拷却锟斤拷锟�768时锟斤拷锟斤拷元锟截高讹拷锟斤拷锟斤拷为410px */
@media ( min-width : 768px) {
	#main_ad>.carousel-inner>.item {
		height: 410px;
	}
}

#main_ad>.carousel-inner>.item>img {
	width: 100%;
}

/*锟斤拷要锟斤拷锟斤拷*/
#mainItem {
	
}

#mainItem .LeftItem {
	width: 880px;
	position: relative;
	padding: 16px 20px;
	float: left;
}

@media ( max-width : 800px) {
	#mainItem .LeftItem {
		width: 600px;
	}
}

@media ( max-width : 600px) {
	#mainItem .LeftItem {
		width: 410px;
	}
}

@media ( max-width : 410px) {
	#mainItem .LeftItem {
		width: 320px;
	}
}

#mainItem .LeftItem .UserItem {
	padding-bottom: 10px;
}

#mainItem .UserItem .img-circle {
	height: 40px;
	width: 40px;
}

#mainItem .UserItem .name {
	padding-left: 20px;
	font-style: sans-serif;
	font-size: 15px
}
#mainItem  .ContentItem{
	cursor:pointer
	
}
#mainItem  .ContentItem .title {
	
	font-style:;
	font-size: 23px;
	padding-bottom: 10px;
}

.Card {
	margin-bottom: 10px;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
	box-sizing: border-box;
}

#mainItem .RightItem {
	width: 250px;
	position: relative;
	padding: 16px 20px;
	left: 10px;
}

#mainItem .RightItem .post strong {
	padding-left: 16px;
}

#mainItem .RightItem .post a {
	color: black;
	text-decoration: none;
}

#mainItem .RightItem button {
	outline:none;
    background-color: #fff;
  border-color: rgba(0, 0, 0, .0001);
}
#mainItem .RightItem button: hover {
	outline:none;
    background-color: #fff;
  border-color: rgba(0, 0, 0, .0001);
}

#mainItem .RightItem .hotForum ul {
	list-style: none;
}

#mainItem .RightItem .hotForum li {
	padding-bottom: 10px;
}

#mainItem .RightItem .hotForum a {
	color: black;
	text-decoration: none;
}

#mainItem .RightItem .hotForum a:hover {
	color: red;
	text-decoration: none;
}

#mainItem .RightItem .hotForum p {
	padding-left: 10px;
}

@media ( max-width : 800px) {
	#mainItem .RightItem {
		width: 320px;
		position: relative;
		padding: 16px 20px;
		left: 0px;
	}
}


/* Bootstrap锟斤拷展锟斤拷式 */
.panel-czbk {
	border: 0;
	border-radius: 0;
	box-shadow: 1px 1px 5px #ccc;
	color: #777;
}

.panel-czbk p {
	margin-bottom: 0;
}

.panel-czbk.actived {
	background-color: #e92322;
	color: #fff;
}

.panel-czbk.actived::before {
	content: "\e915";
	font-family: itcast;
	font-size: 50px;
	position: absolute;
	top: -11px;
	left: 15px;
}

.panel-czbk.disabled {
	background-color: #e0e0e0;
}

.panel-czbk>.panel-heading {
	float: right;
	width: 120px;
	padding: 45px 0;
	height: 160px;
	border-left: 1px dashed #c0c0c0;
	text-align: center;
	position: relative;
}

.panel-czbk>.panel-heading::before, .panel-czbk>.panel-heading::after {
	content: ' ';
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #f0f0f0;
	position: absolute;
}

.panel-czbk>.panel-heading::before {
	top: -8px;
	left: -8px;
}

.panel-czbk>.panel-heading::after {
	bottom: -8px;
	left: -8px;
	box-shadow: 0 2px 1px #ccc inset;
}

.panel-czbk>.panel-heading>p>strong {
	font-size: 30px;
}

.panel-czbk>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
}

.panel-czbk>.panel-heading>.tooltips {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 26px;
}

.panel-czbk>.panel-heading .badge {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	background-color: transparent;
	padding: 3px;
	margin: 2px;
}

.panel-czbk>.panel-heading .badge-one {
	color: #e92322;
	border-color: #e92322;
}

.panel-czbk>.panel-heading .badge-two {
	color: #399;
	border-color: #399;
}

.panel-czbk>.panel-body {
	margin-right: 120px;
	height: 160px;
}

.panel-czbk>.panel-body>h4, .panel-czbk>.panel-body>.row>div {
	margin: 5px 0;
}

.btn-itcast {
	color: #ffffff;
	background-color: #E92322;
	border-color: #DB3B43;
}

.btn-itcast:hover, .btn-itcast:focus, .btn-itcast:active, .btn-itcast.active,
	.open .dropdown-toggle.btn-itcast {
	color: #ffffff;
	background-color: #E92322;
	border-color: #DB3B43;
}

.btn-itcast:active, .btn-itcast.active, .open .dropdown-toggle.btn-itcast
	{
	background-image: none;
}

.btn-itcast.disabled, .btn-itcast[disabled], fieldset[disabled] .btn-itcast,
	.btn-itcast.disabled:hover, .btn-itcast[disabled]:hover, fieldset[disabled] .btn-itcast:hover,
	.btn-itcast.disabled:focus, .btn-itcast[disabled]:focus, fieldset[disabled] .btn-itcast:focus,
	.btn-itcast.disabled:active, .btn-itcast[disabled]:active, fieldset[disabled] .btn-itcast:active,
	.btn-itcast.disabled.active, .btn-itcast[disabled].active, fieldset[disabled] .btn-itcast.active
	{
	background-color: #E92322;
	border-color: #DB3B43;
}

.btn-itcast .badge {
	color: #E92322;
	background-color: #ffffff;
}

.navbar-itcast {
	background-color: #f7f8f8;
	border-color: #f5f5f5;
	margin-bottom: 0;
	top: 0;
	width: 100%;
}

.navbar-itcast .navbar-brand {
	color: #777;
	height: 60px;
}

.navbar-itcast .navbar-brand:hover, .navbar-itcast .navbar-brand:focus {
	color: #5e5e5e;
	background-color: transparent;
}

.navbar-itcast .navbar-text {
	color: #777;
}

.navbar-itcast .navbar-nav>li>a {
	color: #777;
	line-height: 48px;
	font-size: 14px;
}

.navbar-itcast .navbar-nav>li>a:hover, .navbar-itcast .navbar-nav>li>a:focus
	{
	color: #333;
	background-color: transparent;
	border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav>.active>a, .navbar-itcast .navbar-nav>.active>a:hover,
	.navbar-itcast .navbar-nav>.active>a:focus {
	color: #555;
	background-color: transparent;
	border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav>.disabled>a, .navbar-itcast .navbar-nav>.disabled>a:hover,
	.navbar-itcast .navbar-nav>.disabled>a:focus {
	color: #ccc;
	background-color: transparent;
}

.navbar-itcast .navbar-toggle {
	border-color: #ddd;
	margin-top: 23px;
	margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover, .navbar-itcast .navbar-toggle:focus
	{
	background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-itcast .navbar-collapse, .navbar-itcast .navbar-form {
	border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav>.open>a, .navbar-itcast .navbar-nav>.open>a:hover,
	.navbar-itcast .navbar-nav>.open>a:focus {
	color: #555;
	background-color: #e7e7e7;
}

@media ( max-width : 767px) {
	.navbar-itcast .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}
	.navbar-itcast .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-itcast .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #333;
		background-color: transparent;
	}
	.navbar-itcast .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-itcast .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-itcast .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	.navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a,
		.navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a:hover,
		.navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a:focus {
		color: #ccc;
		background-color: transparent;
	}
}

.navbar-itcast .navbar-link {
	color: #777;
}

.navbar-itcast .navbar-link:hover {
	color: #333;
}

.navbar-itcast .btn-link {
	color: #777;
}

.navbar-itcast .btn-link:hover, .navbar-itcast .btn-link:focus {
	color: #333;
}

.navbar-itcast .btn-link[disabled]:hover, fieldset[disabled] .navbar-itcast .btn-link:hover,
	.navbar-itcast .btn-link[disabled]:focus, fieldset[disabled] .navbar-itcast .btn-link:focus
	{
	color: #ccc;
}

